body {
  font-family: 'Roboto';
  color: #212121;
}
/*Шапка сайта*/
.header {
}

.nav {
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-text {
  color: #000000;
}

.header-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
}
.header-studio.active {
  color: #2196f3;
}
.header-info a {
  color: #212121;
  text-decoration: none;
}

.header-info a:hover,
.header-info a:focus {
  color: #2196f3;
}
 {
  color: #2196f3;
}

.contakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
}

.contakt a {
  color: #757575;
  text-decoration: none;
}

.contakt a:hover,
.contakt a:focus {
  color: #2196f3;
}

/* Герой */
.main {
  list-style: none;
}

.main li {
  list-style: none;
}

.mine-title-content {
  background-color: #2f303a;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Переваги */
.main-benefits {
}
.mine-benefits-content {
}

.mine-benefits-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mine-benefits-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Чим ми заніиаємось */
.main-work {
}

.main-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.main-work-img {
}
/* Команда */
.main-team-content {
}

.main-team-img {
}
.main-team {
}

.main-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.main-team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Portfolio */
.header-portfolio.activ {
  color: #2196f3;
}
.portfolio {
}

.portfolio li {
  list-style: none;
}
/*Button*/
.portfolio-button {
}

.portfolio-button button {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-button-all.active {
  color: #2196f3;
}
.portfolio-button button:hover,
.portfolio-button button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.portfolio-content {
}

.portfolio-content-info {
}

.portfolio-content-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio-content-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
